{% extends 'index.html' %}
{% load pagetag %}

{% block css %}

    <style>
        .table-responsive {
            margin-left: 10px
        }

        .warning {
            color: red;
        }
    .pagenum {
        text-align:  center;
    }

    </style>

{% endblock %}


{% block content_title %}
    <h1 class="page-head-line">Proxy 信息</h1>
{% endblock %}

{% block content_main %}
    <div class="table-responsive">
        {#        <button type="button" class="btn btn-success" name="allcheck">#}
        {#            全选#}
        {#        </button>#}
        {#        <button type="button" class="btn btn-primary" name="revcheck">#}
        {#            反选#}
        {#        </button>#}
        {#        <button type="button" class="btn btn-warning" name="allcancel">#}
        {#            取消#}
        {#        </button>#}
        {#        <button type="button" class="btn btn-danger" name="delete">#}
        {#            删除#}
        {#        </button>#}
        {#        <button type="button" class="btn btn-success" name="update" data-toggle="modal" data-target="updateproxy" >#}
        {#            更新#}
        {#        </button>#}
        <button class="btn btn-success btn-lg" name="update" data-toggle="modal" data-target="#updateproxy">
            更新Proxy列表
        </button>
    </div>
    {% if available_proxy %}
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th></th>
                    <th style="text-align: center">HTTP代理地址</th>
                    <th style="text-align: center">ISP</th>
                    <th style="text-align: center">过期时间</th>
                    <th style="text-align: center">归属地</th>
                </tr>
                </thead>
                <tbody>
                {% for proxy in available_proxy %}
                    <tr style="text-align: center" hid="{{ proxy.id }}">
                        <td>{{ forloop.counter }}</td>
                        <td>{{ proxy.IP }}</td>
                        <td>{{ proxy.ISP }}</td>
                        <td>{{ proxy.ExpireTime }}</td>
                        <td>{{ proxy.IpAddress }}</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    {% else %}
        <h2 style="text-align: center">没有可用的proxy代理地址</h2>
    {% endif %}
{% endblock %}

{% block content_bottom %}
    {% if available_proxy %}

        <nav aria-label="Page navigation" class="pagenum">
            <ul class="pagination">
                {% if available_proxy.has_previous %}
                    <li>
                        <a href="?page={{ available_proxy.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}

                {% for pg in available_proxy.paginator.page_range %}
                    {% circle_page available_proxy.number pg %}
                {% endfor %}

                {% if cus_list.has_next %}
                    <li>
                        <a href="?page={{ available_proxy.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}

    <div class="modal fade" id="updateproxy" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        提示信息
                    </h4>
                </div>
                <div class="modal-body" name="message">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">确定
                    </button>
                    {#                    <button type="button" class="btn btn-primary">#}
                    {#                        确定#}
                    {#                    </button>#}
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>


{% endblock %}

{% block javascript %}
    <script>
        $("[name='allcheck']").click(function () {
            $('table').find($('input')).each(function () {
                $(this).prop('checked', true)
            })
        });

        $("[name='allcancel']").click(function () {
            $('table').find($('input')).each(function () {
                $(this).prop('checked', false)
            })
        });

        $("[name='revcheck']").click(function () {
            $('table').find($('input')).each(function () {
                $(this).prop('checked', !$(this).prop('checked'));
            })
        });

        $("[name='update']").click(function () {
            $("[name='message']").html('请稍等，正在更新中...');

            $.ajax({
                url: '/update',
                type: 'get',
                success: function (data) {
                    data = JSON.parse(data);
                    console.log('-->', data);
                    console.log('status', data['status']);
                    if (data['status']) {
                        console.log('success');
                        {#window.location.href = '/proxy_info.html';#}
                    } else {
                        $("[name='message']").html('访问API错误，返回信息为：' + data['msg']);
                    }
                }
            })
        });

    </script>
{% endblock %}